*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 48px;
    font-size: 18px;
    font-weight: 600;
    background-color: #3ab100;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #8fda6a;
    transform: scale(1.02);
}

header{
    padding: 30px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5f5f5f;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    position: relative;
}

header a:hover{
    color: #fff;
    transform:scale(1.02);
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header nav ul li a::after{
    content: " ";
    width: 40px;
    height: 2px;
    background-image: linear-gradient(45deg, #e71018, #000000);
    position: absolute;
    top: 25px;
    left: 0;
    transition: width 0.5s;
}

section.topo-do-site{   
    padding: 100px 4%;
}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    gap: 80px; 
}

.topo-do-site h1{
    color: #fff;
    font-size: 45px;
    line-height: 35px;
}

.topo-do-site span{
    color: #e71018;
}

.topo-do-site p{
    color: #fff;
    margin: 40px 0px;
}

section.sobre{
    padding: 100px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 35px;
    line-height: 34px;
    margin-bottom: 20px;
}

.sobre .txt-sobre h2 span{
    color: #e71018;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre p span{
    color:#e71018;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #3ab100;
    font-size: 22px;
    cursor: pointer;
    margin: 0 8px;
    transition: 0.5s;
} 

.sobre .img-sobre img{
    border-radius: 30px;
}

section.table{
    padding: 110px 4%;
}

section.table .txt-table {
    color: #fff;    
    text-align: center; 
    padding: 20px 25px;
}

section.table .txt-table h2{
    font-size: 35px;
    line-height: 34px;
    margin-bottom: 20px;
}

section.table .txt-table h2 span{
    color:#e71018;
}

section.table .txt-table p{
    color: #fff;
    margin: 25px 0px;
    text-align: center; 
}

section.table .txt-table p span{
    color:#e71018;
}

.content-table {
    border-collapse: collapse;
    margin: 1px auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #3ab100;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 13px 8px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #fff;
}

section.palestrantes{
    text-align: center;
    line-height: 1.5;
}

section.palestrantes p{
    justify-content: space-around ;
}

a {
color: #3ab100;
text-decoration: none;
font-size: 17px;
}

.btn {
padding: 15px 100px;
border: 2px solid #fff;
border-radius: 1em;
display: inline-block;
background-color: transparent;
font-weight: 700;
transition: .3s;
margin: 20px auto;
}

.btn:hover {
background-color: #fff;
color: #222;
}

.popup {
position: fixed;
margin: 1px auto;
padding: 25px; 
max-width: 500px;
border-radius: 0.5em;
top: 50%;
left: 50%;
color: #000;
transform: translate(-50%, -50%);
background-color:rgba(255,255,255,1);
visibility: hidden;
opacity: 0;
transition: opacity .5s, visibility 0s linear .5s;
z-index: 1;
text-align: left;
}

.popup:target {
visibility: visible;
opacity: 1;
transition-delay: 0s;
}

.popup .close {
position: absolute;
right: 5px;
top: 5px;
padding: 5px;
color: #000;
transition: color .3s;
font-size: 2em;
line-height: 1.5;
font-weight: 60px;
}

.popup .close:hover {
color: #e71018;
}

.close-popup {
background-color: rgba(0,0,0,.7);
cursor: default;
position: fixed;
top:0;
left:0;
right:0;
bottom:0;
opacity: 0;
visibility: hidden;
transition: opacity .5s, visibility 0s linear .5s;
}

.popup:target + .close-popup {
opacity: 1;
visibility: visible;
transition-delay: 0s;
}

 section.mapa .mapaall{
    padding: 20px 0px;
}

section.mapa .mapaall{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.mapa-iframe{
    width: 80%;
    max-width: 1000px;
}


footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #3ab100;
}

footer .line-footer p i{
    color: #3ab100;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
}

footer .line-footer p span{
    color: #fff;
}